---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import InstagramIcon from "../components/icons/InstagramIcon.astro";
import WhatsappIcon from "../components/icons/WhatsappIcon.astro";
import Button from "../components/Button.astro";
---

<Layout>
	<Button class="fixed bottom-10 right-10 z-50">
		Consigue la tuya ahora
	</Button>
	<section class="h-dvh w-dvw">
		<Header />
		<main
			class="flex flex-col justify-center items-center gap-8 border-x mx-10 h-dvh"
		>
			<h1 class="md:text-7xl text-4xl text-center w-[12ch] -mt-20">
				La forma
				<span class="text-pumpkin">segura</span>
				de conseguir tus
				<span class="text-pumpkin">Mac's</span>
			</h1>
			<section class="flex items-center gap-5 md:hidden">
				<a href="">
					<InstagramIcon class="w-7 h-7 fill-pumpkin" />
				</a>
				<a href="">
					<WhatsappIcon class="w-9 h-9 fill-pumpkin" />
				</a>
			</section>
			<Button>Consigue la tuya ahora </Button>
		</main>
	</section>
	<div class="py-5 border-y mt-15.5"></div>
	<section class="mx-10 pb-5 border-x px-10 items-center">
		<section
			class="flex justify-center items-center flex-col sm:flex-row lg:px-25"
		>
			<div class="sm:px-0 px-10 min-w-xs md:min-w-sm">
				<img src="../../public/hero3.png" alt="" />
			</div>
			<div>
				<h1 class="text-4xl text-center font-semibold py-5">
					Macbook <span class="text-pumpkin"> Pro</span>
				</h1>
				<p
					class="text-center text-lg md:text-pretty lg:text-2xl text-obsidian"
				>
					La <span class="text-pumpkin">MacBook</span> es la laptop más
					popular del mundo por una razón. Ofrece hasta una duración excepcional
					de la batería. Su diseño elegante y portátil está disponible
					en una variedad de colores que se adaptan a tu estilo.
				</p>
				<Button class="my-3 mx-auto block">
					Consigue la tuya ahora
				</Button>
			</div>
		</section>
	</section>
	<div class="py-2 border-y">
		<h1 class="text-3xl md:text-4xl text-obsidian text-center">
			Modelos <span class="text-pumpkin">Pro</span> Retina
		</h1>
	</div>
	<section
		class="mx-10 border-x md:px-0 items-center relative overflow-hidden"
	>
		<section class="flex flex-col items-end border-b py-5">
			<div
				class="w-[90%] lg:w-[30%] h-[33dvw] lg:h-auto relative flex items-center justify-center"
			>
				<img
					class="rotate-180 w-full absolute -mt-10"
					src="../../public/shapeBG.webp"
					alt=""
				/>
				<h2
					class="text-6xl font-bold -mt-10 text-center lg:text-8xl lg:mt-5"
				>
					2013
				</h2>
			</div>
			<div
				class="flex items-center md:flex-row flex-col-reverse pt-[2dvw]"
			>
				<div>
					<h1
						class="text-center text-2xl lg:text-4xl pt-5 pb-3 lg:pb-5"
					>
						Hecha para <span class="text-pumpkin">multitarea</span>
					</h1>
					<p
						class="text-center text-lg md:text-pretty lg:text-2xl text-obsidian px-5"
					>
						La <span class="text-pumpkin">MacBook</span> es un portatil
						excepcional para la multitarea, ofrece todo lo necesario
						para una experiencia de estudio o trabajo útil, y eficaz.
						la batería. Su diseño elegante y portátil está disponible
						en una variedad de colores que se adaptan a tu estilo.
					</p>
					<Button class="mx-auto block lg:self-center my-5">
						Comprar ahora
					</Button>
				</div>

				<div class="mt-5 md:min-w-[50dvw] self-end">
					<img src="../../public/macbookborderless.webp" alt="" />
				</div>
			</div>
		</section>
		<section class="pb-5">
			<div
				class="w-[90%] lg:w-[30%] h-[33dvw] lg:h-auto relative flex items-center justify-center"
			>
				<img
					class="absolute top-0 w-full rotate-x-180"
					src="../../public/shapeBG.webp"
					alt=""
				/>
				<h2 class="text-6xl font-bold text-center lg:text-8xl lg:mt-8">
					2015
				</h2>
			</div>
			<div
				class="flex items-center md:flex-row flex-col lg:pt-[5dvw] pt-[10dvw]"
			>
				<div class="md:min-w-[50dvw] self-end">
					<img src="../../public/netflix.png" alt="" />
				</div>
				<div class="flex items-center flex-col">
					<h1
						class="text-center text-2xl lg:text-4xl pb-3 lg:pb-5 pt-5"
					>
						Perfecta <span class="text-pumpkin">Retina</span> para contenido
						<span class="text-pumpkin">audiovisual</span>
					</h1>
					<p
						class="text-center text-lg md:text-balance lg:text-2xl text-obsidian px-5"
					>
						Con <span class="text-pumpkin">Retina</span> Cada detalle
						cobra vida gracias a su resolución espectacular y colores
						vibrantes que desafían lo real. Con millones de píxeles y
						tecnología de precisión, textos, imágenes y videos se muestran
						con una claridad cristalina, incluso bajo la luz más intensa.
					</p>
					<Button class="mx-auto block lg:self-center my-5">
						Comprar ahora
					</Button>
				</div>
			</div>
		</section>
	</section>
	<div class="py-2 border-y">
		<h1 class="text-3xl md:text-4xl text-obsidian text-center">
			Modelos y Precios
		</h1>
	</div>
	<section class="mx-10 pb-5 border-x px-10 items-center">
		<div
			class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16"
		>
			<div
				class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-stretch md:grid-cols-3 md:gap-8"
			>
				<div class="divide-y divide-black rounded-2xl border shadow-xs">
					<div class="p-6 sm:px-8">
						<h2 class="text-lg font-medium text-gray-900">
							Macbook Pro 2013
							<span class="sr-only">Plan</span>
						</h2>

						<p class="mt-2 text-gray-700">
							Un Macbook Pro de entrada de mercado, con una
							pantalla de 13"
						</p>

						<p class="mt-2 sm:mt-4">
							<strong
								class="text-3xl font-bold text-gray-900 sm:text-4xl"
							>
								299$
							</strong>

							<span class="text-sm font-medium text-gray-700"
								>Con opcion a plazos</span
							>
						</p>

						<Button class="block w-full my-2">
							Obtener ahora
						</Button>
					</div>

					<div class="p-6 sm:px-8">
						<p class="text-lg font-medium text-gray-900 sm:text-xl">
							Que incluye:
						</p>

						<ul class="mt-2 space-y-2 sm:mt-4">
							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									Intel Core i5 4ª gen, Haswell
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									8 GB de RAM 1600 MHz
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									Intel Iris 5100
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									Almacenamiento variable
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									MacOS Big Sur
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-black"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M6 18L18 6M6 6l12 12"></path>
								</svg>

								<span class="text-gray-700">
									Protección de apple
								</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="divide-y divide-black rounded-2xl border shadow-xs">
					<div class="p-6 sm:px-8">
						<h2 class="text-lg font-medium text-gray-900">
							Macbook Pro 2015
							<span class="sr-only">Plan</span>
						</h2>

						<p class="mt-2 text-gray-700">
							Un Macbook Pro con mejor desempeño y mas moderna,
							con una pantalla de 13"
						</p>

						<p class="mt-2 sm:mt-4">
							<strong
								class="text-3xl font-bold text-gray-900 sm:text-4xl"
							>
								349$
							</strong>

							<span class="text-sm font-medium text-gray-700"
								>Con opcion a plazos</span
							>
						</p>

						<Button class="block w-full my-2">
							Obtener ahora
						</Button>
					</div>

					<div class="p-6 sm:px-8">
						<p class="text-lg font-medium text-gray-900 sm:text-xl">
							Que incluye:
						</p>

						<ul class="mt-2 space-y-2 sm:mt-4">
							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									Intel Core i5 5ª gen, Broadwell
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									8 GB de RAM 1600 MHz
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									Intel Iris Pro 5200
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									Almacenamiento variable
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									MacOS Monterey
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-black"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M6 18L18 6M6 6l12 12"></path>
								</svg>

								<span class="text-gray-700">
									Protección de apple
								</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="divide-y divide-black rounded-2xl border shadow-xs">
					<div class="p-6 sm:px-8">
						<h2 class="text-lg font-medium text-gray-900">
							Macbook Pro 2017
							<span class="sr-only">Plan</span>
						</h2>

						<p class="mt-2 text-gray-700">
							Un Macbook Pro de mucho mas alto rendimiento, con
							una gran aceleracion de procesador y mejor desempeño
						</p>

						<p class="mt-2 sm:mt-4">
							<strong
								class="text-3xl font-bold text-gray-900 sm:text-4xl"
							>
								399$
							</strong>

							<span class="text-sm font-medium text-gray-700"
								>Con opcion a plazos</span
							>
						</p>

						<Button class="block w-full my-2">
							Obtener ahora
						</Button>
					</div>

					<div class="p-6 sm:px-8">
						<p class="text-lg font-medium text-gray-900 sm:text-xl">
							Que incluye:
						</p>

						<ul class="mt-2 space-y-2 sm:mt-4">
							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									Intel Core i5 7ª gen, Kaby Lake
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									8 GB de RAM 1600 MHz
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									Intel Iris Plus 640
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									Almacenamiento variable
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-pumpkin"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M4.5 12.75l6 6 9-13.5"></path>
								</svg>

								<span class="text-gray-700">
									macOS Ventura
								</span>
							</li>

							<li class="flex items-center gap-1">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									fill="none"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									class="size-5 text-black"
								>
									<path
										stroke-linecap="round"
										stroke-linejoin="round"
										d="M6 18L18 6M6 6l12 12"></path>
								</svg>

								<span class="text-gray-700">
									Protección de apple
								</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="py-2 border-y">
		<h1 class="text-3xl md:text-4xl text-obsidian text-center">
			Preguntas Frecuentes
		</h1>
	</div>

	<section class="mx-10 border-x p-10 items-center">
		<div class="divide-y divide-black rounded-xl border border-black">
			<details
				class="group p-6 [&_summary::-webkit-details-marker]:hidden"
				open
			>
				<summary
					class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900"
				>
					<h2 class="text-lg font-medium">
						Lorem ipsum dolor sit amet consectetur adipisicing?
					</h2>

					<span class="relative size-5 shrink-0">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="absolute inset-0 size-5 opacity-100 group-open:opacity-0 fill-pumpkin"
							viewBox="0 0 24 24"
							stroke="currentColor"
							stroke-width="2"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
							></path>
						</svg>

						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="absolute inset-0 size-5 opacity-0 group-open:opacity-100 fill-pumpkin"
							viewBox="0 0 24 24"
							stroke="currentColor"
							stroke-width="2"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
							></path>
						</svg>
					</span>
				</summary>

				<p class="mt-4 leading-relaxed text-gray-700">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab
					hic veritatis molestias culpa in, recusandae laboriosam
					neque aliquid libero nesciunt voluptate dicta quo officiis
					explicabo consequuntur distinctio corporis earum similique!
				</p>
			</details>

			<details
				class="group p-6 [&_summary::-webkit-details-marker]:hidden"
			>
				<summary
					class="flex cursor-pointer items-center justify-between gap-1.5 text-gray-900"
				>
					<h2 class="text-lg font-medium">
						Lorem ipsum dolor sit amet consectetur adipisicing?
					</h2>

					<span class="relative size-5 shrink-0">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="absolute inset-0 size-5 opacity-100 group-open:opacity-0 fill-pumpkin"
							viewBox="0 0 24 24"
							stroke="currentColor"
							stroke-width="2"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
							></path>
						</svg>

						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="absolute inset-0 size-5 opacity-0 group-open:opacity-100 fill-pumpkin"
							viewBox="0 0 24 24"
							stroke="currentColor"
							stroke-width="2"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
							></path>
						</svg>
					</span>
				</summary>

				<p class="mt-4 leading-relaxed text-gray-700">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab
					hic veritatis molestias culpa in, recusandae laboriosam
					neque aliquid libero nesciunt voluptate dicta quo officiis
					explicabo consequuntur distinctio corporis earum similique!
				</p>
			</details>
		</div>
	</section>
</Layout>
