---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import InstagramIcon from "../components/icons/InstagramIcon.astro";
import WhatsappIcon from "../components/icons/WhatsappIcon.astro";
import Button from "../components/Button.astro";
---

<Layout>
	<Button class="fixed bottom-10 right-10 z-50">
		Consigue la tuya ahora
	</Button>
	<section class="h-dvh w-dvw">
		<Header />
		<main
			class="flex flex-col justify-center items-center gap-8 border-x mx-10 h-dvh"
		>
			<h1
				class="md:text-7xl text-4xl font-medium text-center w-[12ch] -mt-20"
			>
				La forma
				<span class="text-pumpkin">segura</span>
				de conseguir tus
				<span class="text-pumpkin">Mac's</span>
			</h1>
			<section class="flex items-center gap-5 md:hidden">
				<a href="">
					<InstagramIcon class="w-7 h-7 fill-pumpkin" />
				</a>
				<a href="">
					<WhatsappIcon class="w-9 h-9 fill-pumpkin" />
				</a>
			</section>
			<Button>Consigue la tuya ahora </Button>
		</main>
	</section>
	<div class="py-5 border-y mt-15.5"></div>
	<section class="mx-10 pb-5 border-x px-10 items-center">
		<section
			class="flex justify-center items-center flex-col sm:flex-row lg:px-25"
		>
			<div class="sm:px-0 px-10 min-w-xs md:min-w-sm">
				<img src="../../public/hero3.png" alt="" />
			</div>
			<div>
				<h1 class="text-4xl text-center font-semibold py-5">
					Macbook <span class="text-pumpkin"> Pro</span>
				</h1>
				<p
					class="text-center text-lg md:text-pretty lg:text-2xl text-obsidian font-medium"
				>
					La <span class="text-pumpkin">MacBook</span> es la laptop más
					popular del mundo por una razón. Ofrece hasta una duración excepcional
					de la batería. Su diseño elegante y portátil está disponible
					en una variedad de colores que se adaptan a tu estilo.
				</p>
				<Button class="my-3"> Consigue la tuya ahora </Button>
			</div>
		</section>
	</section>
	<div class="py-2 border-y">
		<h1 class="text-3xl md:text-4xl font-bold text-obsidian text-center">
			Modelos <span class="text-pumpkin">Pro</span> Retina
		</h1>
	</div>
	<section
		class="mx-10 h-[200dvh] border-x md:px-0 items-center relative overflow-hidden"
	>
		<section class="flex flex-col items-end">
			<div
				class="w-[90%] lg:w-[30%] h-[33dvw] lg:h-auto relative flex items-center justify-center"
			>
				<img
					class="rotate-180 w-full absolute"
					src="../../public/shapeBG.webp"
					alt=""
				/>
				<h2 class="text-6xl font-bold text-center lg:text-8xl lg:mt-5">
					2013
				</h2>
			</div>
			<div
				class="flex items-center md:flex-row flex-col-reverse pt-[2dvw]"
			>
				<div>
					<h1
						class="text-center text-2xl lg:text-4xl font-bold pt-5 pb-3 lg:pb-5"
					>
						Hecha para <span class="text-pumpkin">multitarea</span>
					</h1>
					<p
						class="text-center text-lg md:text-pretty lg:text-2xl text-obsidian font-medium px-5"
					>
						La <span class="text-pumpkin">MacBook</span> es un portatil
						excepcional para la multitarea, ofrece todo lo necesario
						para una experiencia de estudio o trabajo útil, y eficaz.
						la batería. Su diseño elegante y portátil está disponible
						en una variedad de colores que se adaptan a tu estilo.
					</p>
					<Button class="mx-auto block lg:self-center my-5">
						Comprar ahora
					</Button>
				</div>

				<div class="mt-5 md:min-w-[50dvw] self-end">
					<img src="../../public/macbookborderless.webp" alt="" />
				</div>
			</div>
		</section>
		<div>
			<h1></h1>
		</div>
	</section>
</Layout>
