---
const { class: className } = Astro.props;
---

<button
    class={`bg-pumpkin text-cream px-5 py-2 rounded-full border border-obsidian cursor-pointer hover:saturate-150 hover:scale-102 transition duration-300 ${className}`}
>
    <slot />
</button>
