---
import Logo from "./Logo.astro";
import InstagramIcon from "./icons/InstagramIcon.astro";
import WhatsappIcon from "./icons/WhatsappIcon.astro";
---

<header>
    <a href="/">
        <Logo />
    </a>
    <div class="flex items-center gap-9">
        <section class="md:flex items-center gap-4 hidden">
            <a class="" href="">
                <InstagramIcon class="w-7 h-7 fill-pumpkin" />
            </a>
            <a href="">
                <WhatsappIcon class="w-9 h-9 fill-pumpkin" />
            </a>
        </section>

        <button class="bg-pumpkin text-cream px-5 py-2 rounded-full">
            Comprar
        </button>
    </div>
</header>
